<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="script.js"></script>
</head>
<body x-ng-app="gameApp" x-ng-controller="TicTacController">

<div class="container">
	<h1>Tic Tac Toe</h1>
	
	<div x-ng-init="rows = [ [0,0,0],[0,0,0],[0,0,0] ];">
		
		<div class="clear" x-ng-repeat="x in rows track by $index">
			
			<div class= "cell" x-ng-repeat="col in x track by $index" x-ng-click="playerTurn($parent.$index, $index);">
				 {{ ((col == 1)?"X" : ( col == -1 ? "O" : "") ) }}
		 	</div>
	 	
	 	</div>
 	
 	</div>
</div>
</body>
</html>